* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background.webp);
    background-size: cover;
    background-position: center;
    padding: 10px 8%; 
    position: relative;
}
.navbar-nav a:hover {
    color: #42f5ec !important;
}
body {
    background-color: black;
    color: white;
}
.head-text{
    color: #ffd100;
    font-weight: 600;
    cursor: pointer;
    transition: 2s ease;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.card img{
    height: 160px;
    width: 220px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 5%; 
    }
}
.head-1{
    color: #42f5ec;
    margin-top: 35vh;
}
.head-2{
    color: white;
    opacity: 1;
    cursor: pointer;
    transition: 2s ease;
}
.head-2:hover{
    color: hwb(73 45% 11%);
}
.card-body{
    color: #f695c3;
    border-radius: 10px;
    margin-top: 2px;
}
.card-haed{
    color: #f68b08;
}
.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: 1s ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.animate-left {
    transform: translateX(-100vw);
    transition: transform 1.5s ease;
    opacity: 0;
}

.animate-right {
    transform: translateX(100vw);
    transition: transform 1.5s ease;
    opacity: 0;
}

.animate-left.active {
    transform: translateX(0);
    opacity: 1;
}

.animate-right.active {
    transform: translateX(0);
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .header {
        padding: 10px 5%;
    }
    .head-1 {
        margin-top: 25vh;
    }
    
    .animate-left,
    .animate-right {
        transform: none;
        opacity: 1;
        transition: none;
    }
}
